// 
// card.scss
//

.card {
    margin-bottom: $grid-gutter-width;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.Homee {
    background-color: rgb(240, 255, 247);
    padding: 24px 32px;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}
.div1{
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
}
.div1 img{
    padding-right: 8px;
    position: relative;
    top: 4px;
}
.div2{
    color: rgb(0, 22, 50);
    font-weight: 500;
    margin-right: 330px;
}
.under{
    width: 100px;
    height: 4px;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    bottom: 3px;
}
.under span {
    display: block;
    // background-color: rgb(0, 22, 50);
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.butt1{
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 100%;
    background-color: rgba(0, 193, 147, 0.1);
    background-image: url('../../../images/checkbox-checked.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-left: 24px;
    line-height: 50%;
    position: relative;
}
.sp1{
    visibility: hidden;
    width: 100px;
    background-color: rgb(0, 22, 50);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
    padding: 12px 0px;
    position: absolute;
    z-index: 1;
    bottom: 160%;
    left: 50%;
    margin-left: -50px;
}
.sp1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 22, 50) transparent transparent;
}
.butt2{
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 100%;
    background-color: rgba(0, 193, 147, 0.1);
    background-image: url('../../../images/checkbox-empty.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-left: 24px;
    line-height: 50%;
    position: relative;
}
.sp2{
    visibility: hidden;
    width: 100px;
    background-color: rgb(0, 22, 50);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
    padding: 12px 0px;
    position: absolute;
    z-index: 1;
    bottom: 160%;
    left: 50%;
    margin-left: -50px;
}
.sp2 ::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 22, 50) transparent transparent;
}
.butt3{
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 100%;
    background-color: rgba(0, 193, 147, 0.1);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-left: 24px;
    line-height: 50%;
    position: relative;
    background-image: url('../../../images/eye.svg');
}
.sp3{
    visibility: hidden;
    width: 100px;margin-right: 330px;
    background-color: rgb(0, 22, 50);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
    padding: 12px 0px;
    position: absolute;
    z-index: 1;
    bottom: 160%;
    left: 50%;
    margin-left: -50px;
}
.sp3::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 22, 50) transparent transparent;
}
.card-link + .card-link{
    /*rtl:ignore*/
    margin-left: $card-spacer-x;
    /*rtl:ignore*/
    margin-right: 0;
}

.card-drop {
    font-size: 20px;
    line-height: 0;
    color: inherit;
}

.card-widgets {
    float: right;
    height: 16px;
    > a {
        color: inherit;
        font-size: 18px;
        display: inline-block;
        line-height: 1;

        &.collapsed {
            i {
                &:before {
                    content: "\F0415";
                }
            }
        }
    }
}

.Ring{
    margin-left: auto;
    margin-right: auto;
    max-width:  61.25rem;
}
.justify-content-sm-between.border-bottom.row {
    height: 55px;
}
.mb-0.border-0.collapse.show.card {
    margin-top: 10px;
}
// Card title / Card Header
.card-title,
.card-header {
    margin-top: 0;
}


//Card disable loading (Custom Cards)
.card-disabled {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: $card-border-radius;
    background: $card-overlay-bg;
    cursor: progress;

    .card-portlets-loader {
        background-color: $card-overlay-color;
        animation: rotatebox 1.2s infinite ease-in-out;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 3px;
        margin-left: - ($grid-gutter-width * 0.5);
        margin-top: - ($grid-gutter-width * 0.5);
    }
}

@keyframes rotatebox {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

// Custom card box
.card-box {
    background-color: $card-bg;
    padding: $card-spacer-x;
    box-shadow: $box-shadow-sm;
    margin-bottom: $grid-gutter-width;
    @include border-radius($card-border-radius);
}

.header-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.sub-header {
    font-size: 0.875rem;
    margin-bottom: $grid-gutter-width;
    color: $text-muted;
}